<div style="border: 1px solid green; max-width: 30%; align-self: center;">
	<p style="color:green;">Title:</p>
	<p style="color:red; "><%= @article.title %></p>
	<p style="color:green;">Text</p>
	<p style="color:red; "><%= @article.text %></p>
</div>
<p style="color: red;"><%= link_to 'all articles', articles_path %>
</p>
